<header>
  <div class="header-text">
    <h1 class="header-title">トレーニングサポート</h1>
    <ul class="header-side">
      <li><a class="header-side1" href="#">マイページ</a></li>
      <li><a class="header-side2" href="#">ログイン</a></li>
      <li><a class="header-side2" href="#">ログアウト</a></li>
      <li><a class="header-side2" href="#">新規登録</a></li>
      <li><a class="header-side3" href="#">Tips</a></li>
    </ul>
  </div>
</header>