/* ヘッダー */
.header-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 50px;
  color: whitesmoke;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.20);
  background-color: lightgreen;
  height: 80px;
  width: 100vw;
}

.header-side {
  display: flex;
  font-size: 25px;
}

.header-side1 {
  margin-right: 20px;
  text-decoration: none;
  color: yellow;
}

.header-side2 {
  margin-right: 20px;
  text-decoration: none;
  color: blue;
}

.header-side3 {
  margin-right: 20px;
  text-decoration: none;
  color: orange;
}

.header-side4 {
  margin-right: 20px;
  text-decoration: none;
  color: red;
}
/* ヘッダー */

/* フッター */
.footer-contents {
  display: flex;
  justify-content: center;
}

.©️ {
  display: flex;
  justify-content: center;
}
/* フッター */

/* トップページ */
.memo-list {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.workout {
  background-color: aqua;
  height: 400px;
  width: 500px;
  font-size: 40px;
  color: black;
  border-radius: 20px;
  text-decoration: none;
  padding: 20px 20px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.bodycomposition {
  background-color: lightpink;
  height: 400px;
  width: 500px;
  font-size: 40px;
  color: black;
  border-radius: 20px;
  text-decoration: none;
  padding: 20px 20px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.blog-list {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.blog {
  height: 200px;
  width: 200px;
}
/* トップページ */