<%= render "shared/header" %>
<div class="memo-list">
  <a class="workout" href="#">トレーニングログ</a>
  <a class="bodycomposition" href="#">体組成計記録</a>
</div>
<div class="blog-list">
    <div>ブログ１</div>
    <div>ブログ２</div>
</div>
<%= render "shared/footer" %>