<%= render "shared/header" %>
<div class="memo-list">
  <%= link_to 'トレーニングログ', new_memo_path, class: "workout" %>
  <%= link_to '体組成計記録', "#", class: "bodycomposition" %>
</div>
<div class="blog-list">
    <div>ブログ１</div>
    <div>ブログ２</div>
</div>
<%= render "shared/footer" %>