<%= render "shared/header" %>
<div class="memo-list">
  <a class="workout" href="#">トレーニングログ</a>
  <a class="bodycomposition" href="#">体組成計記録</a>
</div>
<div class="blog-list">
  <div class="blog1"><link>ブログ１</div>
  <div class="blog2"><link>ブログ２</div>
  <div class="blog3"><link>ブログ３</div>
</div>
<%= render "shared/footer" %>