<%= render "shared/header" %>
<div class="memo-list">
  <a class="workout" href="#">トレーニングログ</a>
  <a class="bodycomposition" href="#">体組成計記録</a>
</div>
<div class="blog-list">
  <div class="back-image">
    <%= image_tag "deadlift.png", alt: "ブログ画像", class: "blog" %>
    <div class="front-image">ブログ１</div>
  </div>
  <div class="back-image">
    <%= image_tag "bench_press.png", alt: "ブログ画像", class: "blog" %>
    <div class="front-image">ブログ２</div>
  </div>
</div>
<%= render "shared/footer" %>